:root {
  --background: #FFFBFF;
  --on_background: #1C1B1E;
  --primary:  #642EF4;
  --on_primary:  #FFFFFF;
  --outline:  #79757F;
  --white:  #FFFFFF;
}


html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	background: var(--background);
	color: var(--on_background);
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--on_background);
}

a:hover {
	color: var(--primary);
}


p, li {
	font-size: 22px;
	line-height: 36px;
	margin: 0 0 24px 0;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: var(--on_background);
}

h1 {
	font-size: 48px;
	line-height: 76px;
	font-weight: 300;
}

h2 {
	font-size: 56px;
	line-height: 80px;
	margin: 0;
}

h3 {
	font-size: 48px;
	font-weight: 76px;
	font-weight: 700;
}

h4 {
	font-size: 40px;
	line-height: 64px;
	font-weight: 700;
}

h1, h2, h3, h4, h5 {
	margin: 16px 0;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0;
  /*min-height: 100vh;*/
}

@media (max-width: 1200px) {
  .container {
    margin: 0 56px;
  }
}
@media (max-width: 480px) {
	h1 {
		font-size: 32px;
    line-height: 52px;
	}
	h2 {
		font-size: 50px;
		line-height: 78px;
	}
	h3 {
		font-size: 44px;
		line-height: 70px;
	}
}

@media (max-width: 400px) {
  .container {
    margin: 0 40px;
  }
}



/*---- Navbar Style ----*/

.navbar {
	padding: 24px 0;
	text-decoration: none;
	display: flow-root;
	margin-bottom: 144px;
}

.navbar_logo {
	float: left;
	margin: 0;
	padding: 0;
}

.navbar, .navbar p {
	font-size: 16px;
	line-height: 24px;
}

.navbar_links {
	float: right;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 40px;
}

.active {
	color: var(--primary);
}

.back_home {
	float: left;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 4px;
  align-items: center;
}

.back_home p {
	margin: 0;
}

.nav_back_icon {
	height: 24px;
	width: 24px;
	position: relative;
	filter: grayscale(100%);
	left: 0;
	transition: left 0.15s ease-in-out;
}

.hide {
	display: none;
}

.back_home:hover {
	cursor: pointer;
}
.back_home:hover p {
	color: var(--primary);
}
.back_home:hover .nav_back_icon {
	filter: grayscale(0);
	left: -3px;
}

@media (max-width: 600px) {
	.navbar {
		margin-bottom: 72px;
	}
}


/*---- Footer Style ----*/

.footer {
	width: 100%;
	margin-top: 200px;
	padding: 40px 0 48px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer p {
	font-size: 14px;
	line-height: 20px;
	color: var(--outline);
	margin: 0;
}

.social_links {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 40px;
	justify-content: center;	
}

.social_links a {
	filter: grayscale(100%) opacity(0.75);
}
.social_links a:hover {
	filter: grayscale(0) opacity(1);
}

@media (max-width: 600px) {
	.footer {
		flex-direction: column;
    align-items: center;
    grid-row-gap: 40px;
    margin-top: 128px;
    padding-bottom: 56px;
	}
}


/*----  Work Page ----*/

.work_page {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.work_page:before {
	content: ' ';
	display: block;
	position: absolute;
	left: calc(50% - 350px);
  top: 5.2%;
  width: 700px;
  height: 570px;
	background-image: url(/circle.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.work_cover {
	max-width: 1040px;
	padding: 96px 56px 160px 56px;
	margin: 0 auto 160px auto;
	position: relative;
}

.work_title {
	text-align: center;
	font-weight: 200;
	position: relative;
	z-index: 1;
}


.project_tile {
	position: relative;
	height: 480px;
	width: 100%;
	max-width: 1040px;
	border-radius: 16px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 56px 0 0 48px;
	margin-bottom: 160px;
	background: var(--white);
	overflow: hidden;
	filter: drop-shadow(4px 4px 33px rgba(221, 227, 236, 0.4));
}

.project_tile_content {
	width: 336px;
}

.project_tile_content h2 {
	margin-bottom: 8px;
}

.project_tile p {
	font-size: 16px;
	line-height: 24px;
	margin: 8px 0;
}


.case_study_button {
	width: fit-content;
	margin-top: 24px;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 8px;
	justify-content: start;
	align-items: center;
}
.case_study_button p {
	font-weight: 600;
}
.case_study_button_icon {
	height: 24px;
	width: 24px;
	margin-left:  0;
	filter: grayscale(100%);
	transition: margin-left 0.15s ease-in-out;
}

.case_study_button:hover {
	cursor: pointer;
}
.case_study_button:hover p {
	color: var(--primary);
}
.case_study_button:hover .case_study_button_icon {
	filter: grayscale(0);
	margin-left: 3px;
}


.project_tile_image {
	position: relative;
  left: 45%;
  top: -176px;
  filter: drop-shadow(-2px -2px 8px rgba(255, 255, 255, 0.7));
}

.litmus_cover:before,
.cosmos_cover:before,
.console_cover:before {
	content: ' ';
  display: block;
  position: absolute;
  right: -160px;
  bottom: -300px;
  width: 850px;
  height: 870px;
  background-image: url(/mesh1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(115deg);
}

.cosmos_cover:before {
	filter: hue-rotate(238deg);
}
.console_cover:before {
	filter: hue-rotate(318deg);
	transform: rotate(93deg);
}

@media (max-width: 1024px) {
  .project_tile_image {
		left: 48%;
    top: -200px;
    transform: scale(0.9);
	}
	.litmus_cover:before,
	.cosmos_cover:before,
	.console_cover:before {
	  right: -310px;
	}  
}

@media (max-width: 900px) {
	.project_tile {
		height: 560px;
		padding: 32px 56px 0 56px;
	}
	.project_tile_content {
		width: 100%;
		margin-bottom: 40px;
	}
	.case_study_button {
		margin-top: 16px;
	}
  .project_tile_image {
  	position: unset;
    transform: scale(1);
  }
  .litmus_cover:before, 
  .cosmos_cover:before, 
  .console_cover:before {
    bottom: -500px;
    transform: rotate(200deg);
	}
}

@media (max-width: 600px) {
	.work_cover {
		padding: 64px 56px 0 56px;
	}
	.project_tile {
		margin-bottom: 120px;
	}
	.project_tile_image {
		position: relative;
    left: 24%;
    top: 10%;
    transform: scale(1.5);
	}
}

@media (max-width: 480px) {
	.work_page:before {
		top: 60px;
    height: 600px;
    opacity: 0.4;
	}
	.project_tile {
		padding: 8px 32px 0 32px;
	}
	.project_tile_image {
    top: 8%;
	}
}

@media (max-width: 400px) {
	.project_tile {
		height: 500px;
		padding: 8px 32px 8px 32px;
		margin-bottom: 40px;
	}
	.litmus_cover:before,
	.cosmos_cover:before,
	.console_cover:before {
	  bottom: -560px;
	}
}


/*----- Connect Page -----*/

.connect {
	display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}

.connect_content {
	max-width: 560px;
	z-index: 1;
}

.connect_content h1 {
	margin: 0 0 40px 0;
}

.connect_content p:nth-of-type(1) {
	margin: 0 0 48px 0;
}

.connect_content span {
	color: var(--primary);
	font-weight: 600;
}

.connect_content .social_links {
	justify-content: start;
	margin-top: 80px;
}


.telephone_container {
	position: relative;
}

.telephone_container:after {
	content: ' ';
    display: block;
    position: absolute;
    top: -100px;
    right: -150px;
    width: 600px;
    height: 400px;
    background-image: url(/circle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.4;
    filter: blur(30px);
}

.telephone {
	z-index: 1;
}

@media (max-width: 900px) {
	.telephone_container {
		display: none;
	}
}


/*--- Bio Page ---*/

.bio_page span {
	color: var(--primary);
	font-weight: 600;
}

.bio_headline h1 {
	margin: 0 0 40px 0;
}
.bio_headline p {
	margin: 0 0 72px 0;
}


.bio {
	display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.bio_content {
	max-width: 640px;
	z-index: 1;
}


.bio_content p {
	margin: 0 0 32px 0;
}


.dp_container {
	position: relative;
}

.dp_container:before {
	content: ' ';
    display: block;
    position: absolute;
    top: -60px;
    right: -50px;
    width: 416px;
    height: 560px;
    background-image: url(/hexshape.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    filter: blur(30px);
}

.dp {
	width: 332px;
  height: 440px;
  background-image: url(/dp.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: revert;
  border: 8px solid var(--white);
  border-radius: 4px;
  transform: scaleX(-1);
  margin: 4px 0 0 24px;
  z-index: 1;
}


.sun {
	float: right;
}


.testimony {
	margin: 120px 0;
	max-width: 880px;
}

.testimony h4 {
	margin: 0 0 40px 0;
}

.testimony_thumbnails {
	display: inline-flex;
  grid-column-gap: 32px;
  grid-row-gap: 40px;
  margin-bottom: 64px;
  flex-wrap: wrap;
}

.faces {
	height: 40px;
	width: 40px;
	border-radius: 8px;
	box-sizing: border-box;
}
.custom_face {
	border-radius: 8px;
}

.faces:hover {
	box-shadow: 0 0 0 1pt var(--primary);
	border: 1px solid var(--background);
	cursor: pointer;
}

.thumbnail_active {
	box-shadow: 0 0 0 1.5pt var(--primary);
	border: 1px solid var(--background);
}


.testimony_content_header {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.testimony_content_face {
	height: 80px;
	width: 80px;
	margin-right: 24px;
	border-radius: 50%;
}

.testimony_content_face_custom {
	border-radius: 50%;
}

.testimony_content_name {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	margin: 8px 0;
}

.testimony_content_role {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	margin: 8px 0;
}

@media (max-width: 1024px) {
  .dp {
  	width: 240px;
  }
}

@media (max-width: 900px) {
	.bio {
		flex-direction: column-reverse;
	}
	.dp_container {
		width: 100%;
	}
	.dp {
  	width: 100%;
  	margin: 0 0 80px 0;
  	background-position-y: top;
  }
  .bio_content {
  	max-width: 900px;
  }
}

@media (max-width: 480px) {
	.bio {
		margin-bottom: 16px;
	}
	.sun {
		height: 80px;
		width: 80px;
	}
	.testimony {
		margin-top: 136px;
	}
}

/*--- Litmus Case Study ---*/

.case_study p {
	max-width: 900px;
}

.case_study span {
	color: var(--primary);
}

.case_study_section {
	margin-bottom: 160px;
}

.case_study_section a {
	color: var(--primary);
}

.case_study_sub_section {
	margin-top: 96px;
}

.highlight {
	font-size: 28px;
	line-height: 46px;
	letter-spacing: 0.5px;
	color: var(--outline);
	margin: 40px 0;
}

.case_study_icons {
	margin-bottom: 24px;
}

.cover_image {
	height: 720px;
	width: 90%;
    max-width: 1280px;
    margin: 48px auto 0 auto;
    position: relative;
}
.cover_image_front {
	position: absolute;
	top: 0;
	left: 0;
}
.cover_image_back {
	position: absolute;
	bottom: 0;
	right: 0;
}

.case_study_image {
	margin: 48px auto 0 auto;
}


.case_study_info {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 72px;
}

.case_study_info_cell {
	width: 320px;
}

.case_study_info_cell p:nth-of-type(1) {
	font-weight: 700;
	margin-bottom: 8px;
}
.case_study_info_cell p:nth-of-type(2) {
	margin-bottom: 56px;
}


.litmus_journey {
	width: 100%;
	text-align: center;
}

.pain_points {
	margin-top: 48px;
}
.pain_points .case_study_info_cell {
	width: 460px;
}

.pain_points .case_study_info_cell p:nth-of-type(2) {
	margin-bottom: 48px;
}


@media (max-width: 1200px) {
  .cover_image {
  	height:  648px;
  }
  .cover_image_front, .cover_image_back {
  	height: 532px;
    width: 700px;
  }  
}
@media (max-width: 1024px) {
  .cover_image {
  	height:  590px;
  }
  .cover_image_front, .cover_image_back {
  	height: 480px;
    width: 630px;
  }  
}
@media (max-width: 900px) {
  .cover_image {
  	height:  500px;
  }
  .cover_image_front, .cover_image_back {
  	height: 400px;
    width: 525px;
  }  
}
@media (max-width: 768px) {
  .cover_image {
  	height:  480px;
  }
  .cover_image_front, .cover_image_back {
  	height: 320px;
    width: 420px;
  }  
}
@media (max-width: 480px) {
  .cover_image {
  	height:  400px;
  }
  .cover_image_front, .cover_image_back {
  	height: 240px;
    width: 315px;
  }
  .cover_image_back {
  	left: 15%;
  }
  .case_study_section {
  	margin-bottom: 120px;
  }
  .case_study_sub_section {
  	margin-top: 80px;
  }
}


















